@import 'global.scss';

// colors
$block-content: #ffffff;
$block-meta: #f4f4f4;

.block{
  margin: 0 0 22px 0;
  background: $block-content;
  font-size: 14px;
  &-parcel{
    line-height: 22px;
    float: left;
    @media screen and (max-width: 831px){
      float: none;
      width: 100%;
    }
    .block-paper{
      margin: 0 11px;
      @media screen and (max-width: 831px){
        margin: 0;
      }
    }
  }

  b{
    font-weight: 700;
  }
  .inside{
    overflow: hidden;
    position: relative;
  }
  &-icon{
    float: left;
    width: 12px;
    margin: 0 7px 0 0;
    img{
      width: 100%;
      height: auto;
    }
  }


  // content
  &-content{

  }
  &-title{
    font-size: 22px;
    line-height: 22px;
    margin: 3px 0 7px;
    color: $black;
    min-height: 30px;
    &.medium{
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    &.barcode{
      letter-spacing: 2px;
    }
  }
  &-body{
    color: $black;
    margin-bottom:11px;
    min-height: 308px;
  }
  &-qr-code{
    width: 50px;
    height: 50px;
    position: absolute;
    top:22px;
    right:22px;
    img{
      width: 100%;
      height: auto;
    }
  }
  &-recipient{
    position: relative;
    &-signature{
      margin-bottom: 11px;
      max-width: 270px;
      width: 100%;
      height: 100%;
      max-height: 45px;
      min-height: 45px;
      border-radius: 2px;
      padding: 11px 11px 22px 11px;
      border: 1px solid $meta-background;
      img{
        max-height: 45px;
        width: auto;
        height: 100%;
      }
    }
    &-name{
      position: absolute;
      bottom:7px;
      left:7px;
      font-size: 11px;
      line-height: 11px;
    }

  }
  &-notes{
    font-size: 12px;
    line-height: 16px;
    color: $text;
    min-height: 40px;
    .block-icon{
      padding-top: 2px;
    }
  }


  // status
  &-status{
    background: $brand;
    width: 100%;
    height: 2px;
  }


  // meta
  &-meta{
    background: $meta-background;
    color: $text;
    font-size: 11px;
    line-height: 16px;
    .inside{
      padding: 7px 11px;
      position: relative;
    }
    &-links{
      min-height: 7px;
      position: absolute;
      top:11px;
      right: 11px;
      z-index: 2;
    }
    .block-icon{
      width: 22px;
      margin: 0 0 0 14px;
      float: right;
    }
    input{
      max-width: 87px;
      min-width: 87px;
    }
  }

  &-signature{
    &-pad{
      position: relative;
      .cancel{
        position: absolute;
        top:11px;
        left:11px;
        z-index: 2;
      }
    }
  }

  // themes
  &.silm{
    .block-title{
      margin-bottom: 0;
    }
  }

  // profile-view
  &-profile{

    .inside{
      border:1px solid #edeeef;
    }

    &-image{
      .icon{
        width: 100px !important;
        height: 100px !important;
        padding-left: 15px;
      }
    }

  }

  // download
  &-download{
    min-height: 100vh;
    margin-top: -65px;
    .inside{
      padding:50px;
    }
    &-logo{
      margin-bottom: 20px;
    }
  }

}


.postbag{
  background: $meta-background;
  position: fixed;
  bottom:0;
  left:0;
  right: 0;
  padding: 40px 20px;
  margin: auto;
  z-index: 3;
  text-align: center;

  -webkit-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
   -moz-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
  transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);

  &.confirmed {
    position: static;
    height: auto;
    z-index: 0;
    padding: 11px;
    text-align: left;


    .block-signature-pad .cancel {
      z-index: 0;
    }
  }
}


// checkboxes
 .checkboxes{
   margin-bottom: 30px;
   label{
     display: inline-block;
     float: left;
     color:#333333;
     font-size: 13px;
     line-height: 1.3;
     margin-bottom: 5px;
     font-weight: normal;
     letter-spacing: -0.4px;
     &:before{
       content:"";
       width: 18px;
       height: 18px;
       display: inline-block;
       background: #e5e5e5;
       margin: 0 10px 0 0;
       float: left;
       -webkit-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
        -moz-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
       transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
     }
   }
   input[type=checkbox]{
     display: none;
   }
   input[type=checkbox]:checked + label:before{
     background: red;
     background-size: 90%;
     -webkit-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
      -moz-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
     transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
     }
 }


.delivery-status{
  -webkit-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
  -moz-transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
  transition: all 0.3s cubic-bezier(.41, .01, .57, 1.01);
  .default{
    color: $black !important;
  }
  .recieved{
    color: $brand !important;
  }
  .delivered{
    color: $green !important;
  }
}

.block .delivery-status{
  position: absolute;
  line-height: 7px;
  width: 16px;
  margin-top: -8px;
  top: 50%;
  right:0;
}



.parcel-select{
  position: absolute;
  top:14px;
  right: -2px;
  width: 30px;
  height: 30px;
  input.checkbox{
    width: auto;
    min-width: 0;
  }
}


.dashboard-button{
  width: 50%;
  float: left;
  .inside{
    padding:14px;
    border: 1px solid $meta-background;
    &-icon{

    }
    &-label{

    }
  }
}


.help-widget{
  padding: 10px;
  background: lighten($text, 30%);
  text-align: center;
  border-radius: 3px;
  margin: 10px 0;
  font-weight: bold;
  color:darken($text, 10%);
}


.block .delivery-status{
  right:10px !important;
}
